body{
    background:rgba(150, 127, 127, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    background: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0px  5px 15px rgba(0,0,0,0.3);
}

#display{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 10px;
    border:none;
    background:white;
    color:black;
    border-radius: 5px;
    
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
    gap:10px;
}
button{
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: black;
    color: white;
}
button:hover{
    background:gray;
    color: white;
}